* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* start header */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}
header .container nav .navbar-brand {
  font-size: 36px;
}
header .container nav i {
  font-size: 45px;
  color: #35a22c;
  margin-right: 10px;
}

/* end header */

#portfolio__project .container .text-dark {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.py-5 {
  padding-bottom: 5rem !important;
}
.nav-pills .nav-link.active {
  background-color: #35a22c;
  border-color: #35a22c;
}
#porfolio__grid {
  margin: 0;
}
.project__content ul li a {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
  text-decoration: none;
}

.card {
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}
.card a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #585858;
}

.card .card-body {
  text-align: center;
  border: 1px transparent solid;
  transition: all 0.5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}
.card .card-body .card-text span:nth-child(3) {
  font-size: 0.8rem;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card-body:hover {
  border: 1px #35a22c solid;
  border-top: none;
}
.card .card-body:hover .card-text span:first-child {
  color: #35a22c;
}

/* start carousel  */
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
.carousel-caption p {
  font-size: 24px;
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#portfolio__carousel .carousel-indicators .active {
  /* opacity: 1; */
  background-color: #35a22c;
}

header .nav-item .nav-link {
  position: relative;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  overflow: hidden;
}
header .nav-item .nav-link:hover {
  color: #35a22c;
}
header .nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #35a22c;
  bottom: 0px;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}
header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}

.nav-item.active .nav-link {
  color: #35a22c;
}
.nav-item.active .nav-link::after {
  transform: translateX(0px);
}
/* end carousel  */

#porfolio__project {
  display: flex;
  justify-content: center;
}

/* grid  */
.row {
  margin-right: 180px;
  margin-left: 180px;
}

/* feature  */
.feature {
  padding: 120px 0px;
  background: url(./image/3.jpg);
  /* background-color: rgba(7, 10, 12, 0.72); */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  z-index: 1;
}
.feature::before {
  content: "";
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(7, 10, 12, 0.72);
  z-index: -1;
}
.feature_content {
  margin-bottom: 80px;
  z-index: 1;
  text-align: center;
}
.feature_content p:first-child {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.feature_content p:nth-child(2) {
  line-height: 24px;
}
.feature_item {
  display: flex;
  z-index: 1;
  width: 75%;
  margin: 0 auto;
}
.feature_item .container .item {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  /* border: 1px solid red; */
  position: relative;
}
.feature_item .container .item::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border: 1px solid white;
  border-radius: 10px;

  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.feature_item .container .item:hover::before {
  opacity: 1;
}

.feature_item .container .item i {
  font-size: 48px;
  color: #35a22c;
}
.feature_item .container .item p:first-of-type {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}

/* achievement  */
.achievement {
  position: relative;
  padding: 70px 0px;
}
.achievement::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./image/memphis_3.png);
  background-size: 48%;
  background-position: bottom left;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.6;
}
.achievement .achievement_container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.achievement .award {
  width: 80%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.achievement .award h1 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.achievement .award p {
  font-size: 0.9rem;

  color: #585858;
  line-height: 24px;
}
.partner {
  margin-left: 30px;
}
.partner > p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  text-align: left;
}
.partner_icon {
  display: flex;
}
.partner_icon .icon img {
  width: 75%;
}
/* footer  */
footer {
  padding: 50px 0px;
  background: #222;
}
.footer_container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  position: relative;
}
.footer_container::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 70px;
  border-top: 1px solid #454545;
}
.footer_icon {
  margin-bottom: 50px;
  display: flex;
}
.footer_icon a {
  text-decoration: none;
  color: #aaa;
  margin-right: 20px;
}
.footer_icon .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #454545;
  line-height: 45px;
  text-align: center;
  transition: all 0.5s;
}
a:hover .icon {
  border: 1px solid #35a22c;
  color: #35a22c;
}

.certify a {
  text-decoration: none;
  color: #aaa;
  transition: all 0.5s;
}
.certify a:hover {
  color: #35a22c;
}
